# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
ENV/

# Logs
*.log

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
